

<script src="~/Content/Admin/js/fullcalendar.min.js"></script>
<link href="~/Content/Admin/css/fullcalendar.css" rel="stylesheet" />
<script src="~/Content/Admin/js/bootstrap-switch.min.js"></script>
<link href="~/Content/Admin/css/bootstrap-switch.min.css" rel="stylesheet" />
<style type="text/css">
    .fc-header-price{
      border-color:#4cd964;
      background-color:rgba(74, 217, 98,.1);
    }

    th.fc-sun{
         color:#FF5151;
    }
     th.fc-sun,td.fc-sun{
        background-color:rgba(255, 209, 209,.2);
    }
     th.fc-sat{
         color:	#FF9224;
     }
       th.fc-sat,td.fc-sat{
        background-color:rgba(255, 232, 219,.2);
    }
</style>
      
<div class="panel panel-default">
                <div class="panel-heading">
                    <h2><strong>Calendar</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                    </div>

                </div><br><br><br>
                <div class="panel-body">
                    <!-- Widget content -->
                    <!-- Below line produces calendar. I am using FullCalendar plugin. -->
                    <div id="calendar"></div>
                </div>
            </div>

        
    


<script type="text/javascript">
    $(function () {

        let id ='1';
        let tridx = 0;
        $('#calendar').fullCalendar({
            eventRender: function (event, element, view) {
               
                var $div = $('<div>' + tridx + '</div>');
                var $input =$('<input>').css({'margin-top':'1%','margin-bottom':'5px'}).addClass('form-control');
                $div.append($input.val('100'));
                $div.append(OffSwitch(true));
               
                return $div;
            },
            events: function (start, end, callback) {
                tridx = 0;
                $.ajax({
                    type: "POST",
                    url: '/GetRoomPrice/'+id,
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var events = [];
                        $(data).each(function () {
                            events.push({
                                title: this.Title,
                                start: this.Start,
                                end: this.End
                            });
                        });
                        callback(events);
                        $("[name='off-check']").bootstrapSwitch();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('There was an error');
                    }
                });
            }
        });

        $('.wclose').on("click", function () {
            id = '2';  
            $('#calendar').fullCalendar('refetchEvents');
        });

        var $fcheader = $('.fc-widget-header');
       
        var headerInput = $('<input>').attr({
            type: 'text',           
        }).addClass('fc-header-price form-control').appendTo($fcheader);
        
        $('.fc-header-price').on('change', function () {
            let $self = $(this);
            let idx = $self.closest('th').index();
            let $table = $self.closest('table');
          
            var td = $table.find('tbody > tr:eq(' + idx + ') > td');
            for (var i = 0, max = td.length; i <= max; i++) {
                var input = $(td[i]).find('input');
                console.log(input.length);
            }
            
        });

        //$fcheader.append(headerInput);
        function OffSwitch(switchOn){
            //let offswitch = `<div class="switch has-switch"><div class="switch-animate switch-on"><input type="checkbox" checked="" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>`;
            //let onSwitch = `<div class="switch has-switch"><div class="switch-animate switch-off"><input type="checkbox" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>`;
            
            let offinput = $('<input>').attr({type:'checkbox',name:'off-check'});
            let offswitch = $('<input>').attr({type:'checkbox',name:'off-check'});
            let onSwitch = $('<input>').attr({ type: 'checkbox', name: 'off-check',checked:true });
            
            if (!switchOn) {
              return  $(offswitch);
            }else{
                return $(onSwitch);
            }
        }

        $("[name='off-check']").bootstrapSwitch();
        //var offswitch = `<div class="switch has-switch"><div class="switch-animate switch-on"><input type="checkbox" checked="" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>`;
        //$('.fc-widget-content').not('.fc-other-month').append($(offswitch));
    });
</script>