@model PagedList.IPagedList<WGHotel.Areas.Backend.Models.HotelListViewModel>

@{
    ViewBag.Title = "Account";
    
}


    <section class="wrapper">
        @*@Html.Partial("_Create",Model)*@
        @Html.Partial("_Table",Model)
        @*@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))*@
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
    </section>


