@if (ViewBag.HotelFacility != null) { 
<div class="form-group">
    @foreach (var item in (List<WGHotel.Models.CodeFile>)ViewBag.HotelFacility)
    {
        <label class="checkbox-inline">
            <input name="HotelFacility" type="checkbox" value="@item.ID" />@item.ItemDescription
        </label>
    }
</div>
}
